{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block body %}
<style>
  body {
    background-image: url('/static/img/login_bg.jpg');
  }
  h1 {
    color: white;
    text-align: center;
    margin: 10px ;
  }
  a {
    color: blue;
  }
</style>

  <div class="container p-0" style="margin-top: 8%;  width: 35%; background-color: black; opacity: 0.88;">
    <br>
    {% if request.resolver_match.url_name == 'signup' %}
    <h1>회원가입</h1>
    {% elif request.resolver_match.url_name == 'login' %}
    <h1>로그인</h1>
    {% else%}
    <h1>개인정보 수정</h1>
    {% endif %}

    <form class="w-75 mx-auto mb-5" action="" method="POST" enctype="multipart/form-data">
      <hr>
      {% csrf_token %}
      {% bootstrap_form form %}
      <br>
      {% if request.resolver_match.url_name == 'login' %}
      <button class="btn btn-outline-dark w-100">로그인 하기</button>
      <hr>
      <small id="passwordHelpBlock" class="form-text text-muted" style="text-align: center;">
        <span>MovieVibe 회원이 아닌가요? </span>
        <a href="{% url 'accounts:signup' %}">👉지금 가입하세요</a>
      </small>
      {% elif request.resolver_match.url_name == 'signup' %}
      <button class="btn btn-outline-dark w-100">가입하기</button>
      {% else %}
      <button class="btn btn-outline-dark w-100">저장하기</button>
      <small id="passwordHelpBlock" class="form-text text-muted" style="text-align: center;">
        <br>
        <a href="{% url 'accounts:delete' %}">MovieVibe 계정 삭제를 원하시나요?</a>
        <br>
        다시 한번 생각해보세요😂
      </small>

      {% endif %}
    </form>
    <br>
  </div>
{% endblock %}
