{% extends 'base.html' %}
{% load static %}

{% block body %}
<!doctype html>
<html class="no-js" lang="ko"> 

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EventCon</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
</head>

<body>
  <!-- <h1>영화</h1> -->
    <div class="performar_area black_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title mb-80">
                        <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">My Movies</h3>
                        <p class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s" >{{ profile_user.username }}님이 좋아요한 영화 리스트입니다</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="row">
                    {% for movie in movies %}
                    <div class="col-lg-3 col-md-3">
                        <a href="{% url 'movies:detail' movie.pk %}">
                            <div class="single_performer wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                <div data-tilt class="thumb">
                                    <img src="https://image.tmdb.org/t/p/w780{{ movie.poster_path }}" alt="">
                                </div>
                                <div class="performer_heading">
                                    <h5 style="color: whitesmoke;">{{ movie.title }}</h5>
                                    <span>{{ movie.release_date|date:"Y" }}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
{% endblock %}