{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block body %}
<style>
  body {
    background-image: url('/static/img/login_bg.jpg');
  }
  h1 {
    color: white;
    text-align: center;
    margin: 10px ;
  }
  a {
    color: blue;
  }
</style>

  <div class="container p-0" style="margin-top: 12%;  width: 30%; background-color: black; opacity: 0.88;">
    <br>
    <h1>로그인</h1>
    <form class="w-75 mx-auto" action="" method="POST" enctype="multipart/form-data">
      <hr>
      {% csrf_token %}
      {% bootstrap_form form %}
      <br>
      <button class="btn btn-outline-dark w-100">로그인 하기</button>
      <hr>
      <small id="passwordHelpBlock" class="form-text text-muted" style="text-align: center;">
        <span>MovieVibe 회원이 아닌가요? </span>
        <a href="{% url 'accounts:signup' %}">👉지금 가입하세요</a>
      </small>
    </form>
    <br>
  </div>
{% endblock %}
