{% extends 'base.html' %}
{% load static %}

<!-- 이미지 파일 넣을 수 있게, 좋아요한 영화 불러오기  -->
{% block body %}
<div style="height: 150px;"></div>
  <div class="card container mt-5 p-0" style="width: 35rem;">
    <div class="m-0">
    </div>
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body p-5">
      <!-- 프로필 사진 -->
      <img  class="d-block"src="{{ profile_user.image.url }}" alt="profile_img" width="100" height="100" style="border-radius: 70%">
      <br>
      <!-- 사용자 이름 -->
      <h3 class="card-title d-inline">{{ profile_user.username }}  </h3>
      <!-- 개인 정보 수정 -->
      {% if request.user == profile_user %}
        <a class="d-inline" href="{% url 'accounts:update' %}"><i class="fas fa-cog " style="color:gray; font-size: 1em"></i></a>
      {% endif %}
      <!-- 팔로우/팔로잉 -->
      <!-- TEST -->
      <br>
      <br>
      {% if user.is_authenticated and user != profile_user %}
        {% if user in profile_user.followers.all %}
          <i class="fas fa-heart fa-lg" style="color:crimson" data-id="{{ profile_user }}"></i>
        {% else %}
          <i class="fas fa-heart fa-lg" style="color:black" data-id="{{ profile_user }}"></i>
        {% endif %}
      {% endif %}
      <span>
        <h5 class="text-muted d-inline">Follower <span id="followers-count-{{ profile_user }}">{{ profile_user.followers.count }}</span></h5>
        <h5 class="text-muted d-inline">Following <span id="followers-count-{{ profile_user }}">{{ profile_user.followings.count }}</span></h5>
      </span>
      <hr>
      <!-- TEST --> 
      <!-- 소개 -->
      <p class="card-text">{{ profile_user.introduction }}</p>
      <br>
      <span class="row">
        <!-- 좋아요한 영화 -->
        <a href="{% url 'accounts:like_movies' profile_user.username %}" class="genric-btn primary col-6">My Movies</a>
        <!-- 작성한 게시글 -->
        <a href="{% url 'accounts:my_reviews' profile_user.username %}" class="genric-btn warning col-6">My Reviews</a>
      </span>
    </div>
  </div>
  <script>
    const heartBtns = document.querySelectorAll('i')

    heartBtns.forEach((heartBtn)=>{
      heartBtn.addEventListener('click', function(event){
        const profileUser = event.target.dataset.id
        const followersCountSpan = document.querySelector(`#followers-count-${profileUser}`)
        const followingsCountSpan = document.querySelector(`#followings-count-${profileUser}`)
            console.log(profileUser)
            axios.get(`/accounts/${profileUser}/follow/`)
              .then((response)=>{
                  if (response.data.status) {
                    event.target.style.color = 'crimson'
                    followersCountSpan.innerHTML = response.data.followers_count
            followingsCountSpan.innerHTML = response.data.followings_count
                  } else {
                    event.target.style.color = 'black'
                    followersCountSpan.innerHTML = response.data.followers_count
            followingsCountSpan.innerHTML = response.data.followings_count
                  }
              })
          })
        })

  </script>
 
{% endblock %}