<footer class="position-sticky sticky-bottom footer d-flex justify-content-center align-items-center">
  <div class="copy-right_text py-3">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <p class="copy_right text-center wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | By Deokgi & Yeji 
                  </p>
              </div>
          </div>
      </div>
  </div>
</footer>